name: Browser SDK [production]

on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '0 */4 * * *'

concurrency:
  group: ${{ github.workflow }}-e2e-js-production-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e-tests:
    name: Run E2E tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x]
        project:
          [
            default,
            streaming,
            badNetwork,
            promote,
            demote,
            audience,
            reattach,
            callfabric,
            v2WebRTC,
          ]
    steps:
      - uses: actions/checkout@v4
      - name: Install deps
        uses: ./.github/actions/install
        with:
          NODE_VERSION: ${{ matrix.node-version }}
      - name: Build SDKs
        uses: ./.github/actions/build
        with:
          NODE_VERSION: ${{ matrix.node-version }}
      - name: Install Playwright
        uses: ./.github/actions/playwright
        with:
          PLAYWRIGHT_VERSION: '1.35.1' # TODO: Read from deps ?
      - name: Test
        run: npm run -w=@sw-internal/e2e-js dev -- --project ${{ matrix.project }}
        env:
          SW_TEST_CONFIG: ${{ secrets.PRODUCTION_E2E_JS_SW_TEST_CONFIG }}

  report-result:
    needs: e2e-tests
    if: success() || failure()
    uses: ./.github/actions/report-test-result
    with:
      result: ${{ needs.e2e-tests.result }}
      test-suite: browser-js
      environment: production
      influxdb-bucket: ${{ secrets.INFLUXDB_BUCKET }}
      influxdb-org: ${{ secrets.INFLUXDB_ORG }}
      influxdb-token: ${{ secrets.INFLUXDB_TOKEN }}
      influxdb-url: ${{ secrets.INFLUXDB_URL }}
