name: Browser SDK [production]

on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

concurrency:
  group: ${{ github.workflow }}-e2e-js-production-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e-tests:
    name: Run E2E tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
        project: [default, streaming, slow]
    steps:
      - uses: actions/checkout@v3
      - name: Install deps
        uses: ./.github/actions/install
        with:
          NODE_VERSION: ${{ matrix.node-version }}
      - name: Build SDKs
        uses: ./.github/actions/build
        with:
          NODE_VERSION: ${{ matrix.node-version }}
      - name: Install Playwright
        uses: ./.github/actions/playwright
        with:
          PLAYWRIGHT_VERSION: '1.35.1' # TODO: Read from deps ?
      - name: Test
        run: npm run -w=@sw-internal/e2e-js dev -- --project ${{ matrix.project }}
        env:
          SW_TEST_CONFIG: ${{ secrets.PRODUCTION_E2E_JS_SW_TEST_CONFIG }}
      - name: Report Result
        if: success() || failure()
        uses: ./.github/actions/report-test-result
        with:
          statsd-host: ${{ secrets.STATSD_HOST }}
          statsd-port: ${{ secrets.STATSD_PORT }}
          result: ${{ steps.run-tests.conclusion }}
          test-suite: ${{ github.workflow }}
