name: v2 WebRTC Calling Tests

on:
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: '0/20 * * * *'

concurrency:
  group: ${{ github.workflow }}-e2e-webrtc-calling-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e-tests:
    name: Run E2E tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        region:
          - { name: 'us', environment: 'production', config: '${{ secrets.PRODUCTION_E2E_JS_SW_TEST_CONFIG }}', cxml_conference_region: '' }
          - { name: 'ch', environment: 'production-ch', config: '${{ secrets.PRODUCTION_E2E_JS_CHREGION_SW_TEST_CONFIG }}', cxml_conference_region: '' }
          - { name: 'eu', environment: 'production-eu', config: '${{ secrets.PRODUCTION_E2E_JS_EUREGION_SW_TEST_CONFIG }}', cxml_conference_region: 'region="eu"' }
          - { name: 'staging', environment: 'staging', config: '${{ secrets.STAGING_E2E_JS_SW_TEST_CONFIG }}', cxml_conference_region: '' }
    steps:
      - uses: actions/checkout@v4
      - name: Install deps
        uses: ./.github/actions/install
        with:
          NODE_VERSION: 18.x
      - name: Build SDKs
        uses: ./.github/actions/build
        with:
          NODE_VERSION: 18.x
      - name: Install Playwright
        uses: ./.github/actions/playwright
        with:
          PLAYWRIGHT_VERSION: '1.35.1' # TODO: Read from deps ?
      - name: Test
        id: run-tests
        run: npm run -w=@sw-internal/e2e-js dev -- v2WebrtcFromRest.spec.ts webrtcCalling.spec.ts
        env:
          SW_TEST_CONFIG: ${{ matrix.region.config }}
          LAML_CONFERENCE_REGION: ${{ matrix.region.cxml_conference_region }}
      - name: Report Result
        if: success() || failure()
        uses: ./.github/actions/report-test-result
        with:
          result: ${{ steps.run-tests.conclusion }}
          test-suite: v2-sdk-tests
          environment: ${{ matrix.region.environment }}
          influxdb-bucket: ${{ secrets.INFLUXDB_BUCKET }}
          influxdb-org: ${{ secrets.INFLUXDB_ORG }}
          influxdb-token: ${{ secrets.INFLUXDB_TOKEN }}
          influxdb-url: ${{ secrets.INFLUXDB_URL }}
